/* CONTACT */
#contact {
    margin-top: 170px;
    background-color: #FFF;
}

.comments{
    margin-top: 56px;
    margin-bottom: 36px;
    margin-left: 24%;
    margin-right: 24%;
    text-align: center;
}

.comments h2{
    margin: 29px 5%;
    color: var(--light-blue);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#contact .row{
    margin: 0 19%;
}

#contact .row img{
    margin-top: 21px;
    height: 314px;
}

#contact h3{
    color: var(--light-blue);
    text-align: left;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#contact p{
    color: var(--gray-text);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    margin-top: 25px;
}

#contact .row p{
    text-align: left;
}

/* COMMITTEE */
#committee h1{
    color: var(--gray-text);
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 64px;
    margin-bottom: 48px;
}

#committee .row{
    margin: 0 11%;
}

#committee .col-4{
    height: auto;
    margin-bottom: 94px;
}

#committee img{
    width: 80%;
    margin: 0 10%;
}

h4{
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 10px 10%;
}

.job{
    padding: 5px;
    margin: 0 10%;
    border-radius: 0px 0px 25px 0px;
    background: var(--red-sections);
}

h5{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    margin: 0 3px;
}

/* * * ** * * ** * * * * */
/* TABLET RESPONSIVENESS */
/* * * ** * * ** * * * * */
@media screen and (min-width:768px) and (max-width:991px){
    .comments{
        margin: 56px 100px 36px 100px;
    }
    
    .comments h2{
        font-size: 36px;
    }

    #contact .row{
        margin: 0 56px;
    }

    #contact .row img{
        padding: 4% 0;
    }

    #committee .row{
        margin: 0 131px;
    }

    #committee img{
        width: 92%;
        margin: 0 4%;
    }

    h4{
        margin: 0 4%;
    }

    .job{
        margin: 0 4%;
    }

    #committee h1{
        font-size: 36px;
        margin-bottom: 44px;
    }
}

/* * * ** * * ** * * * *  * */
/* * PHONE RESPONSIVENESS * */
/* * * ** * * ** * * * * * **/
@media screen and (max-width:767px){
    #contact{
        margin-top: 104px;
    }

    .comments{
        margin: 23px 40px 36px 40px;
    }

    .comments h2{
        font-size: 28px;
    }

    #contact h3{
        font-size: 20px;
        text-align: center;
    }
    
    #contact .row{
        margin: 0 16px;
    }

    #contact .row img{
        padding: 9% 14%;
        margin-top: 0;
    }

    #contact p{
        font-size: 20px;
    }

    #contact .row p{
        font-size: 16px;
        text-align: center;
    }

    #committee .row{
        margin: 0 18px;
    }

    #committee h1{
        font-size: 28px;
        margin-bottom: 30px;
    }

    h4{
        font-size: 16px;
        margin: 3px 5%;
    }

    h5{
        font-size: 16px;
    }

    #committee img{
        width: 90%;
        margin: 0 5%;
    }

    .job{
        margin: 0 5%;
    }
}