h1{
    color: var(--black-text);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 182px;
    text-align: center;
}

.row p{
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul{
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.row{
    margin-top: 57px;
    padding-left: 14%;
    margin-right: 14%;
}

.img-entregables{
    background-image: url(../assets/entregables.jpg);
    background-size: cover;
    height: 280px;
    width: 47vw;
    margin-left: -14vw;
}

/* * * ** * * ** * * * * */
/* TABLET RESPONSIVENESS */
/* * * ** * * ** * * * * */
@media screen and (min-width:768px) and (max-width:991px){
    h1{
        font-size: 36px;
        margin-top: 160px;
        margin-bottom: 55px;
    }

    .row{
        margin: 0;
        padding: 0;
    }

    .row .col-lg-6{
        padding: 0 47px;
    }

    .requirements{
        margin: 48px;
    }

    .img-entregables{
        width: 100vw;
        margin-left: 0;
        margin-top: 40px;
    }
}

/* * * ** * * ** * * * *  * */
/* * PHONE RESPONSIVENESS * */
/* * * ** * * ** * * * * * **/
@media screen and (max-width:767px){
    h1{
        font-size: 28px;
        margin-top: 109px;
        margin-bottom: 55px;
    }

    .row{
        margin: 0;
        padding: 0;
    }

    .row .col-lg-6{
        padding: 0 19px;
    }

    .requirements{
        margin: 48px;
    }

    .img-entregables{
        width: 100vw;
        margin-left: 0;
        margin-top: 40px;
    }
}