h1{
    color: var(--black-text);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 182px;
    text-align: center;
}

p{
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul{
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.row{
    margin-top: 57px;
    padding-left: 14%;
    margin-right: 14%;
}

.img-entregables{
    background-image: url(../assets/entregables.jpg);
    background-size: cover;
    height: 280px;
    width: 47vw;
    margin-left: -14vw;
}