h1{
    color: var(--black-text);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 182px;
    text-align: center;
}

h2{
    padding: 0 16px;
    margin-top: 24px;
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 42px */
}

.teams-info{
    color: var(--gray-text);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    text-align: center;
    margin-bottom: 16px;
}

h4{
    padding: 0 16px;
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
}

article p{
    padding: 0 16px;
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.row{
    margin: 0 11%;
}

article a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #9A9A9A;
    text-decoration: none;
    height: 866px;
}

.col-md-6 .project-img{
    width: 100%;
    height: 176px;
    background-size: cover;
    background-repeat: no-repeat;
}
#sarGasImg{
    background-image: url(../assets/sarGasImg.jpg);
}
#nustIingenImg{
    background-image: url(../assets/nustImg.jpg);
}
#loRaSinLimitesImg{
    background-image: url(../assets/loRaSinLimitesImg.jpg);
}
#g5UnamImg{
    background-image: url(../assets/g5UnamImg.jpg);
}
#ecoconcreteImg{
    background-image: url(../assets/ecoconcreteImg.jpg);
}

.cities-axis{
    background: var(--green-cities);
}

.nexus-axis{
    background: var(--blue-nexus);
}

.read-more{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    text-align: end;
    padding: 12px 18px;
}

/* * * ** * * ** * * * * */
/* TABLET RESPONSIVENESS */
/* * * ** * * ** * * * * */
@media screen and (min-width:768px) and (max-width:991px){
    h2{
        font-size: 24px;
    }

    .row{
        margin: 0 36px;
    }

    article a{
        height: 810px;
    }

    .col-md-6 .project-img{
        height: 102px;
    }
}

/* * * ** * * ** * * * *  * */
/* * PHONE RESPONSIVENESS * */
/* * * ** * * ** * * * * * **/
@media screen and (max-width:767px){
    h2{
        font-size: 20px;
    }

    .row{
        margin: 0 26px;
    }

    article a{
        height: auto;
    }

    .col-md-6 .project-img{
        height: 98px;
    }
}

@media screen and (min-width:1300px){
    article a{
        height: 722px;
    }
    
}