.project{
    margin: 185px 15% 0 15%;
}

.cities-title{
    color: var(--green-cities);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
}

.cities-subtitle{
    color: var(--green-cities);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

.nexus-title{
    color: var(--blue-nexus);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */
}

.nexus-subtitle{
    color: var(--blue-nexus);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

.project-info h3{
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    margin-top: 25px;
}

.project-info p{
    color:  var(--gray-text);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 26px;
}

.project-info b{
    font-weight: 500;
}

.project-summary p{
    margin-top: 16px;
    color: var(--gray-text);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-bottom: 32px;
}

.project-images img{
    height: 285px;
    width: 100%;
    object-fit: cover;
    padding: 0;
}

.integrant-picture{
    width: 100%;
    aspect-ratio: 1;
}

.integrant-description-cities{
    height: auto;
    background-color: var(--green-cities);
    padding: 8px 15px;
}

.integrant-description-nexus{
    height: auto;
    background-color: var(--blue-nexus);
    padding: 8px 15px;
}

.integrant-description-cities p{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0;
}

.integrant-description-cities p b{
    font-weight: 500;
}

.integrant-description-nexus p{
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin: 0;
}

.integrant-description-nexus p b{
    font-weight: 500;
}

/* * * ** * * ** * * * * */
/* TABLET RESPONSIVENESS */
/* * * ** * * ** * * * * */
@media screen and (min-width:768px) and (max-width:991px){
    .project{
        margin: 174px 48px 0 48px;
    }

    .project-images img{
        height: 176px;
    }
}

/* * * ** * * ** * * * *  * */
/* * PHONE RESPONSIVENESS * */
/* * * ** * * ** * * * * * **/
@media screen and (max-width:767px){
    .project{
        margin: 115px 16px 0 16px;
    }

    .cities-title{
        font-size: 28px;
    }

    .project-info p{
        font-size: 18px;
    }

    .project-images img{
        height: 114px;
    }

    .integrant-description-cities p{
        font-size: 15px;
    }
}